<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h2>Update user</h2>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label th:for="username">Username</label>
    <input type="text" name="username" th:id="username" th:value="${user.getUsername()}">
    <br/>
    <label th:for="firstName">First name</label>
    <input type="text" name="firstName" th:id="firstName" th:value="${user.getFirstName()}">
    <br/>
    <label th:for="lastName">Last name</label>
    <input type="text" name="lastName" th:id="lastName" th:value="${user.getLastName()}">
    <br/>
    <label th:for="email">Email</label>
    <input type="text" name="email" th:id="email" th:value="${user.getEmail()}">
    <label th:for="roles">Role</label>
    <div>
        <tr th:each="role:${user.getRoles()}"></tr>
    </div>
    </form>
</body>
</html>